div,ul,li,p,h1,h2,h3,h4,h5{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 14px;
	list-style: none;
}
body{
	color: #666;
}

.main-container{
	padding: 46px 0 52px;
}
.full-container{
	padding-top: 46px;
}
.hidden{
	display: none !important;
}
.ellipsis{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.ellipsis-mul{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.no-more{
	padding: 20px 0;
	text-align: center;
	&::after{
		content: '没有更多了~~~';
		color: gray;
	}
}
.badge{
	position: absolute;
	display: block;
	min-width: 13px;
	text-align: center;
	padding: 2px;
	font-size: 12px;
	border-radius: 50%;
	color: #fff;
	background: #FB0017;
	top: 2px;
	margin-left: 20px;
	z-index: 2;
	transform: scale(0.8);
}

.input{
	border: none;
}
.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 110px;
	height: 40px;
	border: none;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	&.btn-block{
		width: 100%;
	}
	&.btn-yellow{
		background: -webkit-linear-gradient(left,#ffd01e,#ff8917);
    background: linear-gradient(to right,#ffd01e,#ff8917);
	}
	&.btn-red{
		background: -webkit-linear-gradient(left,#ff6034,#ee0a24);
		background: linear-gradient(to right,#ff6034,#ee0a24);
	}
	&.btn-default{
		color: #666;
	}
	&.btn-Red{
		background: #ee0a24;
	}
}
.btn-group{
	display: flex;
	button{
		flex: 1;
	}
	button:first-child{
		border-radius: 20px 0 0 20px;
	}
	button:last-child{
		border-radius: 0 20px 20px 0;
	}
}
.bottom-action{
	display: flex;
  height: 50px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.am-button{
	font-size: 14px !important;
	padding: 0 10px !important;
}
.am-button-small{
	font-size: 12px !important;
}
.am-stepper{
	transform: scale(0.8);
}
.am-stepper-handler{
	border: none !important;
}
.am-steps-small .am-steps-item-title{
	font-weight: normal;
	font-size: 12px;
}